.cards {
    margin: auto;
    width: auto;
    height: auto;
}

.card-Img {
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0;
    width: 8rem !important;
    height: 4rem !important;
}

img {
    height: 1rem !important;
}

.img-footer {
    margin: auto;
    margin-bottom: 0;
    width: 3rem !important;
    height: 3rem !important;
}

.qrcode {
    margin: auto;
}

.btn-zap {
    margin: auto;
    margin-top: 2rem;
}

@media print {
    #printPageButton {
      display: none;
    }
}  

.card-text-p {
    margin: 0;
}
